<div class="page-container">
    <div class="page">
        <h1>Pizza Toppings</h1>

        <% if flash[:alert] %>
        <div class="alert alert-danger">
            <%= flash[:alert] %>
        </div>
        <% end %>
      <div class="list">
        <ul>        
        <% @toppings.each do |topping| %>
            <li>
            <%= link_to topping.name, topping_path(topping) %>
            </li>
        <% end %>
        </ul>
      </div>
      <div class="buttons">
        <span class="button"><%= link_to 'New topping', new_topping_path %></span>
        <span class="button"><%= link_to 'Back', '/' %></span>
      </div>
    </div>
</div>