<div class="page-container">
    <div class="page">        
        <h1>All Pizzas</h1>
        <div class="list">
            <ul>
            <% @pizzas.each do |pizza| %>
                <li>
                <%= link_to pizza.name, pizza_path(pizza) %>
                </li>
            <% end %>
            </ul>
        </div>
        <div class="buttons">
            <span class="button"><%= link_to 'Create Pizza', new_pizza_path %></span>
            <span class="button"><%= link_to 'Home', '/' %></span>
        </div>
    </div>
</div>