
<div class="page-container">
    <div class="page">
        <h1>Let's make pizza!</h1>
        <div class="buttons">
            <span class="button"><%= link_to 'Create Pizza', new_pizza_path %></span>
            <span class="button"><%= link_to 'View Pizzas', controller: 'pizzas' %></span>
            <span class="button"><%= link_to 'View Toppings', controller: 'toppings' %></span>
        </div>
    </div>

</div>
