<h1>Let's make pizza!</h1>

<span class="button"><%= link_to 'New Pizza', new_pizza_path %></span>
<%= link_to 'View Pizzas', controller: 'pizzas' %>
<%= link_to 'View Toppings', controller: 'toppings' %>
